@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@200;300;400;500&display=swap");

/*____GLOBAL____ */
:root {
  --transparen-black: rgb(89, 89, 89);
  --red: rgba(255, 43, 43, 0.874);
  --white: #fff;
  --orange-dark: #e87c03;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: "Heebo", sans-serif;
}

/* SCROLL */
html::-webkit-scrollbar {
  display: none;
}

/* 
html::-webkit-scrollbar-thumb {
  background-color: #8c8c8c;
  border-radius: 0.8rem;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #737373;
}

html::-webkit-scrollbar-track {
  background-color: #eee;
} */

/*___ BODY___ */
body {
  background-image: linear-gradient(
      rgba(20, 19, 19, 0.6),
      rgba(20, 19, 19, 0.6)
    ),
    url("../img/fondo.jpg");
  background-size: cover;
  height: 118vh;
  position: relative;
  overflow-x: hidden;
}

/*___ HEADER___ */
.header {
  display: flex;
  padding: 2rem 0 0 6rem;
  height: 8.2rem;
}

.logo {
  max-width: 100%;
}

/* ___MAIN___ */
.main {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  width: 45rem;
  height: 66rem;
  padding: 7.2rem;
  background-color: rgba(14, 13, 13, 0.85);
  display: flex;
  flex-direction: column;
  color: #fff;
  transform: scale(1.1);
}

.main-title {
  font-size: 3.2rem;
  font-weight: 500;
  margin: 0 0 2.8rem 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.form *:focus {
  outline: none;
  background-color: rgb(63, 63, 63);
}

.create-acount {
  display: none;
  background-color: var(--orange-dark);
  padding: 1rem 1.5rem;
  font-size: 1.4rem;
  border-radius: 0.5rem;
}

.create-acount p {
  margin: 0;
}

.create-acount a {
  text-decoration: underline;
  color: inherit;
  font-size: inherit;
}

.btn {
  width: 100%;
  height: 5rem;
  border: none;
  border-radius: 0.4rem;
}

.inputs-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.btn--input {
  background-color: #333333;
  padding-top: 1.8rem;
  padding-left: 2.2rem;
  font-size: 1.4rem;
  color: #fff;
}

.input-error {
  font-size: 1.3rem;
  color: var(--orange-dark);
  position: absolute;
}

.input-email-error {
  display: none;
  top: 4.4rem;
  left: 0.5rem;
}

.input-password-error {
  display: none;
  bottom: -3rem;
  left: 0.5rem;
}

.btn-placeholder {
  font-size: 1.6rem;
  color: #8c8c8c;
  position: absolute;
}

.btn-placeholder-email {
  top: 1.5rem;
  left: 2rem;
  transition: all 0.2s;
}

.btn-placeholder-password {
  bottom: 1.5rem;
  left: 2rem;
  transition: all 0.2s;
}

.input-visualy,
.input-desvisualy {
  position: absolute;
  font-size: 1.5rem;
  font-weight: 400;
  color: #8c8c8c;
  right: 2rem;
  bottom: 0rem;
  cursor: pointer;
  display: none;
}

.btn--submit {
  margin-top: 1.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: #e50914;
  color: #fff;
  cursor: pointer;
}

.btn--submit:active,
.btn--submit:focus {
  background-color: #b2151d;
}

.main-checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-checkbox-p {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  color: #b3b3b3;
}

.main-checkbox-p span {
  margin-top: 0.2rem;
  display: block;
}

.main-checkbox-p img {
  display: block;
  margin-right: 0.7rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.main-checkbox-p a {
  text-decoration: none;
  color: #b3b3b3;
}

.main-checkbox-p a:hover {
  text-decoration: underline;
}

.main-sub-title {
  margin: 5.5rem 0 1.5rem 0;
  font-size: 1.6rem;
  color: #737373;
}

.main-sub-title a {
  text-decoration: none;
  margin-left: 0.5rem;
  color: #eee;
}

.main-sub-title a:hover {
  text-decoration: underline;
}

.main-text {
  font-size: 1.3rem;
  margin: 0;
  color: #8c8c8c;
}

.main-text a {
  text-decoration: none;
  color: rgb(65, 65, 216);
}

.main-text a:hover {
  text-decoration: underline;
}
/* ___FOOTER___ */
.footer {
  position: absolute;
  bottom: 0;
}

.footer-container {
  background-color: rgba(14, 13, 13, 0.85);
  height: 28rem;
  width: 100vw;
  padding: 2rem 25vw 10rem 25vw;
  color: #737373;
  font-family: "Helvetica Neue";
}

.footer-paragraph {
  margin-left: 3rem;
  font-size: 2.2rem;
  font-weight: 400;
}

.footer-paragraph a {
  text-decoration: none;
  color: inherit;
}

.footer-links {
  margin-top: 4rem;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2.5rem;
}

.footer-link {
  text-decoration: none;
  font-size: 1.7rem;
  color: inherit;
  padding-bottom: 0;
}

.footer-paragraph a:hover,
.footer-link:hover {
  border-bottom: 1px solid #737373;
}

.footer-language {
  background-color: rgba(0, 0, 0, 0.368);
  border: 1px solid #737373;
  margin-top: 3rem;
  margin-left: 3.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.8rem;
  width: 14rem;
  cursor: pointer;
}

.footer-language-span {
  font-size: 1.5rem;
  color: #737373;
}

.footer-language-img {
  width: 2.2rem;
  height: 2.2rem;
  filter: invert(50%) sepia(0%);
}

/* MEDIA QUERY 1400px */
@media (max-width: 87.5em) {
  html {
    font-size: 55%;
  }

  body {
    height: 118vh;
  }

  .main {
    margin-top: 8rem;
  }

  .footer-container {
    height: 30rem;
  }
}
/* MEDIA QUERY 1000px */
@media (max-width: 62.5em) {
  body {
    height: 125vh;
  }

  .footer-container {
    padding-left: 10vw;
    padding-right: 10vw;
    height: 35rem;
  }
  .footer-links {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* MEDIA QUERY 550px */
@media (max-width: 34.4em) {
  html {
    font-size: 40%;
  }

  .header {
    padding: 1rem 0 0 2rem;
  }

  .main {
    margin-top: 22rem;
  }

  .footer-container {
    height: 45rem;
  }

  .footer-links {
    grid-template-columns: 1fr;
  }
  .footer-language {
    margin-left: 5.2rem;
  }
}

/* MEDIA QUERY 389px */
@media (max-width: 23.75em) {
  body {
    height: 140vh;
  }

  .main {
    margin-top: 12rem;
  }

  .footer-language {
    margin-left: 5.2rem;
  }
}
